<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sign In</title>
</head>
<body>
<h1>Log in</h1>

<form method="POST" action="/login">
    <input name="username" type="text" placeholder="Username" />
    <input name="password" type="password" placeholder="Password" />
    <button type="submit">Login</button>
</form>


<script>
    const URL = "http://localhost:3000";
    document.querySelector("form").addEventListener("submit", async (event) => {
        event.preventDefault(); 
        
        try {
            const username = document.querySelector("[name='username']").value;
            const password = document.querySelector("[name='password']").value;

            const response = await fetch(`${URL}/login`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    username: username,
                    password: password,
                })
            });

            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }

            window.location.href = `${URL}/resource`;

        } catch (error) {
            alert(error);
        }
    });
</script>
</body>


</html>
